services:
  # frontend:
  #   build:
  #     context: ./frontend
  #   image: degrandis/frontend:latest
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - app-network

  # backend:
  #   build:
  #     context: ./backend
  #   image: degrandis/backend:latest
  #   ports:
  #     - "8000:8000"
  #   environment:
  #     - CORS_ORIGIN=https://sideproject.biblestudycraft.com
  #   networks:
  #     - app-network

  frontend:
    build:
      context: ./auth_frontend
    image: degrandis/auth_frontend:latest
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_BASE_URL=https://api.degrand.is
    networks:
      - client-side

  budget_frontend:
    build:
      context: ./budget_frontend
    image: degrandis/budget_frontend:latest
    ports:
      - "3001:3001"
    environment:
      - REACT_APP_API_BASE_URL=https://api.degrand.is
    networks:
      - client-side

  trivia:
    build:
      context: ./trivia
    image: degrandis/trivia:latest
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
    networks:
      - client-side

  auth_backend:
    build:
      context: ./auth_backend
    image: degrandis/auth_backend:latest
    ports:
      - "8000:8000"
    environment:
      - CORS_ORIGIN=https://degrand.is,https://www.degrand.is
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=db
      - JWT_SECRET=${JWT_SECRET}
      - JWT_PUBLIC_KEY=${JWT_PUBLIC_KEY}
      - COOKIE_DOMAIN=.degrand.is
      - RUNNING_ENV=production
    networks:
      - client-side
      - server-side
    depends_on:
      - db
    volumes:
      - ./logs:/app/logs  # Bind mount ./logs on the host to /app/logs in the container
    logging:
      driver: json-file # Still use a logging driver if you want to view logs with docker compose logs
      options:
        max-size: 10m
        max-file: 3


  db:
    image: postgres:12-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - server-side
    ports:
      - 5432:5432
    volumes:
      - ./postgres/init-scripts:/docker-entrypoint-initdb.d/ 
      - ${PGDATA_VOLUME:-postgres_data}:/var/lib/postgresql/data 

  nginx:
    build:
      context: ./nginx
    image: degrandis/nginx:latest
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - budget_frontend
      - trivia
      - auth_backend
    networks:
      - client-side
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d # Mount your Nginx configuration
      - ./certbot/www:/var/www/certbot:ro # Shared directory for ACME challenge (read-only)
      - ./certbot/conf:/etc/letsencrypt:ro # Shared directory for certificates (read-only)
    restart: unless-stopped

  certbot:
    image: certbot/dns-route53:latest
    volumes:
      - ./certbot/www:/var/www/certbot:rw # Read-write for ACME challenge
      - ./certbot/conf:/etc/letsencrypt:rw # Read-write for certificates
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew --dns-route53 --quiet; sleep 12h & wait $${!}; done;'"
    networks:
      - client-side

networks:
  client-side:
    driver: bridge
  server-side: {}

volumes:
  postgres_data: