# .github/workflows/deploy.yml
name: Build and Deploy to EC2

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Compose Images
        run: docker compose build --no-cache

      - name: Push Docker Images
        run: docker compose push

      - name: Create .env file
        run: |
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" > .env
          printf "JWT_SECRET=%s\n" "${{ secrets.JWT_SECRET }}" >> .env
          printf "JWT_PUBLIC_KEY=%s\n" "${{ secrets.JWT_PUBLIC_KEY }}" >> .env
          echo "RUNNING_ENV=production" >> .env
          # Add other env vars as needed

      # - name: put aws credentials in place
      #   run: |
      #     mkdir -p ~/.aws
      #     echo "[default]" > ~/.aws/credentials
      #     echo "aws_access_key_id=${{ secrets.AWS_ACCESS_KEY_ID }}" >> credentials
      #     echo "aws_secret_access_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> credentials


      - name: Copy docker-compose and .env to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: |
            docker-compose.yaml,
            .env,
            postgres/*,
          target: /home/${{ secrets.EC2_USER }}/docker
      


      - name: Deploy on EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/${{ secrets.EC2_USER }}/docker
            docker-compose down 
            docker system prune -f
            docker-compose pull
            docker-compose up -d --no-build
